:root {
  /* colors */
  --black: #122434;
  --white: #fff;
  --blue: #2baee0;
  --secondaryBlue: #caf0ff;
  --lightBlue: #ceedf9;
  --headerBlue: #d4f3ff;
  --gray: #bfbfbf;
  --darkGray: #737373;
  --lightGray: #e8e8e8;
  --disabledGray: #f9f9f9;
  --red: #f05658;

  /* padding */
  --paddingL: 4.17%;
}
@font-face {
  font-family: 'Rubik';
  src: url('./static/fonts/Rubik/Rubik-Regular.woff2'),
    url('./static/fonts/Rubik/Rubik-Regular.woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('./static/fonts/Rubik/Rubik-Medium.woff2'),
    url('./static/fonts/Rubik/Rubik-Medium.woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
body {
  margin: 0;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
}
html,
body,
#root {
  height: 100%;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
button {
  padding: 0;
  border: 0;
  background: none;
  font-family: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
